<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App Socket.Io</title>
  </head>
  <body>
    <h1>Chat Application Socket.Io</h1>

    <input type="text" id="username" placeholder="UserId..." />
    <input type="hidden" id="hiddenInp" data-roomId="<%= id %>" />
    <input type="text" id="inptext" placeholder="Message..." />
    <button id="btn">Send</button>

    <ul id="msglist"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      let btn = document.getElementById("btn");
      let inputMsg = document.getElementById("inptext");
      let username = document.getElementById("username");
      let msgList = document.getElementById("msglist");
      let hiddenInp = document.getElementById("hiddenInp");

      socket.emit("join_room", {
        roomId: hiddenInp.getAttribute("data-roomId"),
      });

      btn.onclick = function exec() {
        socket.emit("msg_sent", {
          msg: inputMsg.value,
          username: username.value,
          roomId: hiddenInp.getAttribute("data-roomId"),
        });
      };

      socket.on("msg_rcvd", (data) => {
        let limsg = document.createElement("li");
        limsg.innerText = `${data.username}: ${data.msg}`;
        msgList.appendChild(limsg);
      });
    </script>
  </body>
</html>
